---
import { Icon } from "astro-icon/components";
import Logo from "../components/Logo.astro";
---

<footer class="relative bg-[#0d1b2a] z-10">
  <div
    class="pt-24 pb-24 md:py-24 md:pb-10 overflow-hidden relative -z-10 max-w-[1200px] mx-auto"
  >
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap gap-6 justify-between">
        <!-- Column 1 -->
        <div class="flex-1 min-w-[250px] text-left">
          <div class="mb-7">
            <a href="/" class="text-3xl font-bold flex items-center text-white">
              <Logo />
            </a>
          </div>
          <p class="text-white text-base mb-3">
            Duerow Colors Private Limited, established in 2007, manufactures
            paints, primers, putty, tile grout, and epoxy coatings in
            collaboration with Regent Paints Inc., USA.
          </p>
          <ul class="flex gap-4 pt-4">
            <li>
              <a
                class="text-white transition-colors hover:text-[#41a4c3] active:text-[#41a4c3] text-md"
                href="#"><Icon name="facebook" id="facebook" /></a
              >
            </li>
            <li>
              <a
                class="text-white transition-colors hover:text-[#41a4c3] active:text-[#41a4c3] text-md"
                href="#"><Icon name="twitter" id="twitter" /></a
              >
            </li>
            <li>
              <a
                class="text-white transition-colors hover:text-[#41a4c3] active:text-[#41a4c3] text-md"
                href="#"><Icon name="linkdin" id="linkdin" /></a
              >
            </li>
            <li>
              <a
                class="text-white transition-colors hover:text-[#41a4c3] active:text-[#41a4c3] text-md"
                href="#"><Icon name="pinterest" id="pinterest" /></a
              >
            </li>
            <li>
              <a
                class="text-white transition-colors hover:text-[#41a4c3] active:text-[#41a4c3] text-md"
                href="#"><Icon name="vimeo" id="vimeo" /></a
              >
            </li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="flex-1 min-w-[250px] text-left">
          <h3 class="text-xl font-medium text-white capitalize mb-7">
            Quick Link
          </h3>
          <ul>
            <li class="mb-2">
              <a
                class="text-white hover:text-[#41a4c3] active:text-[#41a4c3] transition-colors"
                href="/home">Home</a
              >
            </li>
            <li class="mb-2">
              <a
                class="text-white hover:text-[#41a4c3] active:text-[#41a4c3] transition-colors"
                href="/about">About</a
              >
            </li>
            <li class="mb-2">
              <a
                class="text-white hover:text-[#41a4c3] active:text-[#41a4c3] transition-colors"
                href="/practice">Products</a
              >
            </li>
            <li class="mb-2">
              <a
                class="text-white hover:text-[#41a4c3] active:text-[#41a4c3] transition-colors"
                href="/contact">Contact</a
              >
            </li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="flex-1 min-w-[250px] text-left">
          <h3 class="text-xl font-medium text-white capitalize mb-7">
            Contact Us
          </h3>
          <ul>
            <li class="mb-2 text-white">Head Office Address</li>
            <li class="mb-2 text-white">
              121 King Street, Melbourne West, Australia
            </li>
            <li class="mb-2 text-white">Phone: 888 123-4587</li>
            <li class="mb-2 text-white">Email: info@example.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700">
    <div class="text-center py-4 text-white text-sm">
      Privacy Policy | © 2025 Duerow. All rights reserved
    </div>
  </div>
</footer>
