---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
import Logo from "../components/Logo.astro";
---

<style>
  a.active {
    color: #41a4c3;
    font-weight: bold;
  }

  a:active {
    color: #41a4c3;
  }
</style>

<div class="bg-[#0d1b2a] sticky top-0 left-0 right-0 z-50">
  <div class="bg-[#0d1b2a] max-w-[1200px] mx-auto">
    <div class="px-8 py-2">
      <div class="flex items-center justify-between">
        {/* Mobile menu toggle button */}
        <div class="lg:hidden flex items-center justify-between p-4">
          <button
            class="lg:hidden block pr-5 pb-3 cursor-pointer text-white text-3xl"
            id="menu-toggle"
          >
            <Icon name="humburger" />
          </button>
        </div>
        {/* Logo */}
        <div class="logo flex justify-center items-center">
          <a
            href="/"
            class="text-[36px] font-bold text-white flex items-center gap-3 justify-center"
          >
            <!-- <Icon
              name="paint-bucket"
              class={"text-clip-text text-gradient-to-r from-yellow-400 to-yellow-700"}
            />
            Duerow -->
            <Logo />
          </a>
        </div>
        {/* Desktop Menu */}
        <ul class="hidden lg:flex items-center space-x-6 text-sm">
          <li class="relative inline-block group">
            <a
              href="/"
              class="relative text-[15px] lg:text-[14px] py-[35px] xl:py-[30px] px-[18px] xl:px-[6px] text-white hover:text-[#41a4c3] duration-200 block uppercase font-base-font font-normal transition-all"
              >Home</a
            >
            <!-- <ul
              class="absolute w-[240px] right-0 top-[110%] p-[20px] z-[111] bg-[#fff] shadow-[#3e419f17] transition-all opacity-0 invisible group-hover:opacity-100 group-hover:top-full group-hover:visible"
            >
              <li>
                <a
                  href="/"
                  class="text-[15px] lg:text-[14px] inline-block py-[5px] uppercase hover:text-[#c0b596] transition-all"
                  >Home style one</a
                >
              </li>
              <li>
                <a
                  href=""
                  class="text-[15px] lg:text-[14px] inline-block py-[5px] uppercase text-[#333] transition-all hover:text-[#c0b596]"
                  >Home style two</a
                >
              </li>
              <li>
                <a
                  href=""
                  class="text-[15px] lg:text-[14px] inline-block py-[5px] uppercase text-[#333] transition-all hover:text-[#c0b596]"
                  >Home style three</a
                >
              </li>
            </ul> -->
          </li>
          <li>
            <a
              href="/about"
              class="relative text-[15px] lg:text-[14px] py-[35px] xl:py-[30px] px-[18px] xl:px-[6px] text-white hover:text-[#41a4c3] duration-200 block uppercase font-base-font font-normal transition-all"
              >About us</a
            >
          </li>
          <li>
            <a
              href="/products"
              class="relative text-[15px] lg:text-[14px] py-[35px] xl:py-[30px] px-[18px] xl:px-[6px] text-white hover:text-[#41a4c3] duration-200 block uppercase font-base-font font-normal transition-all"
              >Products</a
            >
          </li>
          <li>
            <a
              href="/contact"
              class="relative text-[15px] lg:text-[14px] py-[35px] xl:py-[30px] px-[18px] xl:px-[6px] text-white hover:text-[#41a4c3] duration-200 block uppercase font-base-font font-normal transition-all"
              >Contact</a
            >
          </li>
        </ul>

        {/* Mobile Menu with Sliding Effect and Cross Icon */}
        <nav
          class="lg:hidden fixed inset-0 bg-[#0d1b2a] transform -translate-x-full transition-transform duration-300 ease-in-out z-40"
          id="mobile-menu"
        >
          <div class="lg:hidden flex justify-end items-end p-4">
            <button class="text-3xl text-white cursor-pointer" id="menu-close">
              <Icon name="cross" />
            </button>
          </div>
          <ul
            class="flex flex-col justify-center items-center space-y-6 mt-16 text-lg text-white font-medium"
          >
            <li class="w-full px-10" id="dropdown-toggle">
              <li class="w-full px-10">
                <a href="/" class="text-lg font-semibold">Home</a>
              </li>
              <!-- <p
                class="flex justify-between items-center w-full cursor-pointer"
              >
                Home
                <Icon name="dropdown" />
              </p>
              <ul
                id="dropdown-menu"
                class="mt-2 ml-2 space-y-2 transition-all duration-300 overflow-hidden max-h-0"
              >
                <li>
                  <a
                    href="/"
                    class="text-sm transition-colors hover:text-[#c0b596]"
                  >
                    HOME STYLE 1
                  </a>
                </li>
                <li>
                  <a
                    href=""
                    class="text-sm transition-colors hover:text-[#c0b596]"
                  >
                    HOME STYLE 2
                  </a>
                </li>
                <li>
                  <a
                    href=""
                    class="text-sm transition-colors hover:text-[#c0b596]"
                  >
                    HOME STYLE 3
                  </a>
                </li>
              </ul> -->
            </li>
            <li class="w-full px-10">
              <a href="/about" class="text-lg font-semibold">About</a>
            </li>
            <li class="w-full px-10">
              <a href="/practice" class="text-lg font-semibold">Products</a>
            </li>
            <li class="w-full px-10">
              <a href="/contact" class="text-lg font-semibold">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>
  const menuToggle = document.getElementById(
    "menu-toggle"
  ) as HTMLElement | null;
  const menuClose = document.getElementById("menu-close") as HTMLElement | null;
  const mobileMenu = document.getElementById(
    "mobile-menu"
  ) as HTMLElement | null;
  const dropdownToggle = document.getElementById(
    "dropdown-toggle"
  ) as HTMLElement | null;
  const dropdownMenu = document.getElementById(
    "dropdown-menu"
  ) as HTMLElement | null;
  // Toggle menu open
  menuToggle?.addEventListener("click", () => {
    if (mobileMenu) {
      mobileMenu?.classList.remove("-translate-x-full");
      mobileMenu?.classList.add("translate-x-0");
    }
  });
  // Toggle menu close
  menuClose?.addEventListener("click", () => {
    if (mobileMenu) {
      mobileMenu?.classList.remove("translate-x-0");
      mobileMenu?.classList.add("-translate-x-full");
    }
  });
  dropdownToggle?.addEventListener("click", () => {
    // Toggle max-height to show/hide the dropdown
    if (dropdownMenu) {
      if (dropdownMenu?.classList.contains("max-h-0")) {
        dropdownMenu?.classList.remove("max-h-0");
        dropdownMenu?.classList.add("max-h-screen"); // Opens the dropdown
      } else {
        dropdownMenu?.classList.remove("max-h-screen");
        dropdownMenu?.classList.add("max-h-0"); // Closes the dropdown
      }
    }
  });

  const anchor = document.querySelectorAll("a");
  const currentURL = window.location.href;
  anchor.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>
